<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="sequenced" value="/home/hamid/repos/Devyser" />
		<add key="fileFilter" value="sequenced.txt" />
		<add key="processToStart" value="bash" />
		<add key="argument" value="/home/hamid/repos/BashCommands/MyCMD.sh" />
		
	</appSettings>
</configuration>